apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: $APP_NAME
  labels:
    app: $APP_NAME
    git_commit: $CIRCLE_SHA1

spec:
  replicas: 1
  template:
    metadata:
      labels:
        name: $APP_NAME

    spec:
      containers:
      - name: $APP_NAME
        image: gcr.io/$PROJECT_NAME/$APP_NAME:$CIRCLE_SHA1
        ports:
        - containerPort: 8080
      readinessProbe:
        httpGet:
          path: /view/health
          port: 8080
